html,
body {
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
}

#wordapp {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
    width: 500px;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}
#review-words{
    position: relative;
}

.word-sec{
    padding: 4px;
    margin: 0 30px;
}
.word-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    width: 30px;
}
.right{
    top: 0;
    right: 0;
}
.left{
    left: 0;
    top: 0;
}
.word-sec div{
    padding: 4px;
}

.icon{
    background-image: url("../imgs/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
    position: absolute;
    top: 40%;
}

.left .icon{
    background-position: -432px -72px;
    left: 10px;
}

.right .icon{
    background-position: -456px -72px;
    right: 10px;
}

ul{
    padding-left: 18px;
}

label.word{
    font-size: 24px;
}
label.phonetic{
    font-size: 18;
    font-style: italic;
    margin-left: 8px;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}
