html,
body {
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
}

#wordapp {
	background: #fff;
	margin: 0 auto;
    width: 500px;
	border: 1px solid #ccc;
	position: relative;
	border-radius: 4px;
    padding: 45px 15px 15px;
    position: relative;
}
#wordapp:after{
    color: #BBBBBB;
    content: "My words";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

#tabContent {
	position: relative;
    padding-top: 16px;
}

#review-words{
    position: relative;
}

#review-words .badge{
    margin-left: 10px;
    cursor: pointer;
}

.search .search_result{
    padding: 10px 15px;
    display: none;
}

.word-sec{
    margin: 0 30px;
}
#page_indicator{
    text-align: center;
    width: 100%;
    padding: 6px 12px;
    color: #428BCA;
}
.word-control {
    bottom: 0;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    width: 30px;
}
.right{
    top: 0;
    right: 0;
}
.left{
    left: 0;
    top: 0;
}

.icon{
    background-image: url("../imgs/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
    position: absolute;
    top: 40%;
}

.left .icon{
    background-position: -432px -72px;
    left: 10px;
}

.right .icon{
    background-position: -456px -72px;
    right: 10px;
}

label.word{
    font-size: 24px;
}
label.phonetic{
    font-size: 18;
    font-style: italic;
    margin-left: 8px;
}
div.explains textarea, div.explains button{
    margin-bottom: 5px;
}
#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}
