<div class="bs-example">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputWord">Word</label>
            <div class="col-sm-5">
                <input type="text" placeholder="Input word" id="inputWord" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputPhonetics">Phonetics</label>
            <div class="col-sm-5">
                <input type="text" placeholder="Input Phonetics" id="inputPhonetics" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Explaination</label>
            <div class="col-sm-5 explains">
                <textarea class="form-control" rows="2"></textarea>
                <button type="button" class="btn btn-default btn-sm">Add more</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button class="btn btn-default btn-sm" type="submit">Submit</button>
                <button class="btn btn-sm" type="submit">Cancel</button>
            </div>
        </div>
    </form>
</div>
