<a href="#" class="word-control left">
    <span class="icon"></span>
</a>
<a href="#" class="word-control right">
    <span class="icon"></span>
</a>
<div id="page_indicator"> <%=idx + 1%> / <%=total%></div>
