<div class="col-sm-5">
    <input type="text" class="form-control" placeholder="Input word">
</div>
<button type="button" class="btn btn-default">Find</button>
<div class="search_result">{0} already exists in dictionary, <a href="#">Edit</a> it</div>
