<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Dictionary</label>
        <div class="col-sm-5">
            <select class="form-control dict">
                <% _.each(dict, function(item) {%>
                    <option value="<%=item%>"<%=item == active ? "selected" : ""%>><%=item%></option>
                <%});%> 
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="inputWord">Review Mode</label>
        <div class="col-sm-5">
            <select class="form-control mode">
                <option value="mixed"<%=mode == "mixed" ? "selected" : ""%>>Mixed mode</option>
                <option value="new"<%=mode == "new" ? "selected" : ""%>>All new words</option>
                <option value="old"<%=mode == "old" ? "selected" : ""%>>All old words</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="inputPhonetics">Review order</label>
        <div class="col-sm-5">
            <select class="form-control order">
                <option value="desc"<%=order == "desc" ? "selected" : ""%>>By createtime desc</option>
                <option value="asc"<%=order == "asc" ? "selected" : ""%>>By create time asc</option>
                <option value="randomly"<%=order == "randomly" ? "selected" : ""%>>Randomly</option>
            </select>
        </div>
    </div>
</form>
