<div class="word-entry">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputWord">Word</label>
            <div class="col-sm-5">
                <input type="text" placeholder="Input word" id="inputWord" class="form-control" value="<%=word%>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputPhonetics">Phonetics</label>
            <div class="col-sm-5">
                <input type="text" placeholder="Input Phonetics" id="inputPhonetics" class="form-control" value="<%=phonetic%>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Explaination</label>
            <div class="col-sm-5 explains">
            <% _.each(explains, function(item) {%>
                <textarea class="form-control" rows="3"><%=item%></textarea>
            <% }); %> 
                <button type="button" class="more btn btn-default btn-sm">More explanations</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button class="submit btn btn-default btn-sm" type="button">Submit</button>
                <button class="cancel btn btn-default btn-sm" type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
